<ng-container *ngIf="todos$ | async as todos">
  <div *ngIf="todos.length === 0; else todoList">No Todos!</div>

  <ng-template #todoList>
    <table class="text-center mt-2">
      <thead>
        <tr>
          <th class="px-2 sm:px-6 md:px-8">Task Name</th>
          <th class="px-2 sm:px-6 md:px-8">Status</th>
          <th class="px-2 sm:px-6 md:px-8">Due Date</th>
          <th class="px-2 sm:px-6 md:px-8">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td>
            <input
              type="checkbox"
              class="mr-1"
              [checked]="todo.isCompleted"
              (change)="onToggle($event, todo)"
            />{{ todo.todoName }}
          </td>
          <td
            [ngClass]="todo.isCompleted ? 'text-green-500' : 'text-amber-400'"
            
          >
            {{ todo.isCompleted ? "Completed" : "Pending" }}
          </td>
          <td>{{ todo.date }}</td>
          <td>
            <button
              class="bg-red-500 p-2 rounded-xl text-white cursor-pointer"
              (click)="deleteTodo(todo)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</ng-container>
