<ng-container *ngIf="todos$ | async as todos">
  <div *ngIf="todos.length === 0; else todoList">No Todos!</div>

  <ng-template #todoList>
    <table>
      <thead>
        <tr>
          <th>Sr. No</th>
          <th>Toggle Status</th>
          <th>Task Name</th>
          <th>Status</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos; let i = index">
          <td>{{ i + 1 }}</td>
          <td><input type="checkbox" [checked]="todo.isCompleted" /></td>
          <td>{{ todo.todoName }}</td>
          <td> {{todo.isCompleted ? `Completed`: `Pending`}}</td>
          <td>{{ todo.date }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</ng-container>
